<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4" style="background-color: #f0f0f0;">

    <div class="container text-center text-md-left">

        <div class="row">

            <div class="col-md-3 mx-auto">

                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ESCUELA DE NEGOCIOS
                </h5>

                <ul class="list-unstyled">
                    <li class="informacion">
                        José María Chávez #1911, Colonia Prados de Villasunción

                    </li>
                    <li class="informacion">
                        Tel. 146 9009
                    </li>
                </ul>

            </div>

            <hr class="clearfix w-100 d-md-none">



            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-2 mx-auto">

                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ADMISIÓN
                </h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="informacion" href="https://www.ucuauhtemoc.edu.mx/beneficios.php?cat=1">Beneficios</a>
                    </li>
                    <li>
                        <a class="informacion" href="https://www.ucuauhtemoc.edu.mx/apoyos.php">Apoyos Académicos</a>
                    </li>

                </ul>

            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-3 mx-auto">


                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"> CONTACTO</h5>

                <ul class="list-unstyled">
                    <li class="informacion">
                        Tel. +52 (449) 973 11 22 y 33

                    </li>
                    <li>
                        <a class="informacion" href="https://www.ucuauhtemoc.edu.mx/site/sugerencia.php">Sugerencias</a>
                    </li>
                    <li>
                        <a class="informacion" href="https://www.ucuauhtemoc.edu.mx/site/directorio.php">Directorio
                            UCA</a>
                    </li>
                    <li>
                        <a class="informacion" href="https://www.ucuauhtemoc.edu.mx/site/privacidad.php">Aviso de
                            Privacidad</a>
                    </li>
                </ul>

            </div>

        </div>

    </div>
    <hr>
    <!-- Social  -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1" type="button" href="https://www.facebook.com/escueladenegociosuc">
                <i class="fa fa-facebook-f"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1" type="button" href="https://twitter.com/ucuauhtemocags">
                <i class="fa fa-twitter"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1" type="button" href="https://www.youtube.com/user/redcuauhtemoc">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </li>
    </ul>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 copyrigth">© 2020 Copyright:
        <a class="copyrigth" href="http://wolfcode.com.mx/"> Wolf Code</a>
    </div>

</footer>





<script src="./assets/js/bootstrap.min.js"></script>
</body>

</html>