{{> header}}
<link rel="stylesheet" href="./assets/css/administrador-home.css">

<body>

    <div class="contenedor">
        <div class="menu">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#">UCA Admin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <img src="./assets/img/admin/inicio.png" alt="">

                            <a class="nav-link" href="/administrador-home">Inicio <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <img src="./assets/img/admin/Empresas.png" alt="">

                            <a class="nav-link" href="/lista-empresa">Empresas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Consultorias y
                                Capacitaciones</a>
                        </li>
                        <li>
                            <img src="./assets/img/empresas/logOut.png" alt="">
                            <a href="/">Salir</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="contenido">
            <button type="button" id="sidebarCollapse" class="btn" data-toggle="collapse">
                <span class="navbar-toggler-icon"><i class="fa fa-list" aria-hidden="true"></i></span>
            </button>
            <div class="imagen">
                <img src="./assets/img/confirmacion.webp" class="" style="width: 150px; height: 150px">
            </div>
            <h1>Registro Completo</h1>
            <a href="/lista-empresa" class="btn btn-outline-info btn-sm mt-3">Regresar a Listado de Empresas</a>
        </div>
    </div>
</body>

{{>footer}}