{{>header}}
<link rel="stylesheet" href="./assets/css/cupones_style_system.css">

<body>
    {{>navbar}}


    <div id="bodcupon">
        <div id="cuponesTitulo">
            <span id="letrasCupones">CUPONES</span>
            <span id="LA1"></span>
            <span id="LA2"></span>
        </div>
        <section>
            <div id="CuponesMenu">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cuponMenu"
                        aria-controls="cuponMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="cuponMenu">
                        <div class="navbar-nav">
                            <ul>
                                <p id="cuponesDTXT">Cupones de descuento</p>
                                <li>
                                    <hr />
                                    <a href="" style="text-decoration: none;" class="cuponA"><img
                                            src="./assets/img/icons/MasUtilizados.png" alt="" />
                                        <span class="cupon"> Cupones más utilizados</span></a>
                                </li>
                                <hr />
                                <li>
                                    <a href="" style="text-decoration: none;" class="cuponA"><img
                                            src="./assets/img/icons/Envio Gratis.png" alt="" />
                                        <span class="cupon">Envío gratis</span></a>
                                </li>
                                <hr />
                                <li>
                                    <a href="" style="text-decoration: none;" class="cuponA"><img
                                            src="./assets/img/icons/Nuevos.png" alt="" /><span class="cupon">Nuevos
                                            cupones</span></a>
                                </li>
                                <hr />
                                <li>
                                    <a href="" style="text-decoration: none;" class="cuponA"><img
                                            src="./assets/img/icons/Estudiantes.png" alt="" /><span
                                            class="cupon">Estudiantes</span></a>
                                </li>
                                <hr />
                                <li>
                                    <a href="" style="text-decoration: none;" class="cuponA"><img
                                            src="./assets/img/icons/UltimaOportunidad.png" alt="" />
                                        <span class="cupon">¡Ultima oportunidad!</span></a>
                                </li>
                                <hr />
                                <li>
                                    <a href="" style="text-decoration: none;" class="cuponA"><img
                                            src="./assets/img/icons/Descuentos.png" alt="" /><span
                                            class="cupon">Descuentos</span></a>
                                </li>
                                <hr />
                                <li>
                                    <a href="" style="text-decoration: none;" class="cuponA"><img
                                            src="./assets/img/icons/Promociones.png" alt="" /><span
                                            class="cupon">Promociones</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </section>

        <section id="cupons" class="mb-5">
            <div class="container">

                <div class="table-responsive-sm">
                    <table class="table">

                        {{#each cupones}}
                        <tr>
                            <td></td>
                            <td id="image"><img src="./assets/img/uni2.png" alt=""></td>
                            <td>{{this.titulo_cupon}}</td>
                            <td>{{this.codigo}}</td>
                            <td>{{this.tipo_cupon}}</td>
                            <td> <button type="button" class="btn btn-outline-info" data-toggle="modal"
                                    data-target="#miModal">
                                    Ver
                                </button></td>
                        </tr>
                        <!-- MODAL -->
                        <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <p>{{this.titulo_cupon}}</p>
                                            <!-- <span aria-hidden="true" class="text-center"> &times;</span> -->
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="contenedorImg">

                                            <img id="imgModal" class="img-responsive" src="./assets/img/uni2.png"
                                                alt="" />
                                        </div>
                                        <p>
                                            Para que vuelvas a viajar con Uber, disfruta de este cupón para
                                            obtener 50% menos en tu segundo viaje.
                                        </p>

                                        <p>
                                            Codigo:
                                            <button style="text-decoration: none;" type="button" class="btn btn-link"
                                                id="btnCopy">
                                                <b> <span id="text" class="codigo">UBER50DES</span></b>
                                            </button>
                                        </p>
                                        <p>Compra minima</p>
                                        <p>Valido para:</p>
                                        <p>Condiciones</p>
                                        <p>Empresa:</p>
                                        <p>Fecha vencimiento</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {{/each}}
                    </table>
                </div>
            </div>



        </section>

    </div>




</body>
{{>footer}}