{{> header}}
<link rel="stylesheet" href="./assets/css/cupon.css">

<body>
    <div class="contenedor">
        <div class="menu" id="menu">
            <ul>
                <li>
                    <img src="./assets/img/empresas/inicio.png" alt="">
                    <a href="/sistemaHome">Inicio</a>
                </li>
                <li>
                    <img src="./assets/img/empresas/cupones.png" alt="">
                    <a href="/sistemaCupones">Cupones</a>
                </li>
                <li>
                    <img src="./assets/img/empresas/Donaciones.png" alt="">
                    <a href="/sistemaDonaciones">Donaciones</a>
                </li>
                <li>
                    <img src="./assets/img/empresas/logOut.png" alt="">
                    <a href="/">Salir</a>
                </li>
            </ul>
        </div>
        <div class="contenido" id="form-cupon">
            <button type="button" id="sidebarCollapse" class="btn" data-toggle="collapse">
                <span class="navbar-toggler-icon"><i class="fa fa-list" aria-hidden="true"></i></span>
            </button>




            <div class="container text-center">
                <div class="jumbotron" style="background-color: white;">
                    <!-- FORMULARIO -->
                    <div id="CF">
                        <div class="card col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                            <div class="card-body">
                                <div class="col-md-12 mb-3">
                                    <p class="text-center" id="agregarDonacion">Ver Donación</p>
                                </div>
                                <form action="/donaciones" method="POST">


                                    <div class="form-group col-md-12 mb-3">
                                        <img style="width: 150px;" src="./assets/img/uber.png" class="text-center"
                                            alt="">
                                    </div>

                                    <div class="form-group col-md-12 mb-3">
                                        <label for="" class="labelcupon">Titulo donación:</label>
                                        <input required disabled type="text" name="titulo_donacion"
                                            placeholder="Escribe el titulo" class="form-control"
                                            name="titulo_donacion" />
                                    </div>

                                    <div class="form-group col-md-12 mb-3">
                                        <label for="" class="labelcupon">N° de cuenta:</label>
                                        <input required disabled type="text" class="form-control"
                                            placeholder="ingresa N° de cuenta" name="cuenta_bancaria" />
                                    </div>

                                    <div class="form-group col-md-12 mb-3">
                                        <label for="" class="labelcupon">Banco:</label>
                                        <select required disabled name="banco" id="" class="form-control">

                                        </select>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom03" class="labelcupon">Fecha Inicio:</label>
                                            <input type="text" disabled name="fecha_inicio" id="fecha_inicio"
                                                class="form-control" />
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="validationCustom03" class="labelcupon">Fecha Final:</label>
                                            <input type="date" disabled required class="form-control" name="fecha_final"
                                                min="2020-05-19" max="2023-05-19" />
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 mb-3">
                                        <label for="" class="labelcupon"> Descripción:</label>
                                        <textarea disabled required name="descripcion_donacion" id="" cols="50" rows="3"
                                            class="form-control"  placeholder="Escribe descripción del cupon"></textarea>
                                        <button type="submit" id="btnAgregar" class="btn btn-outline-info btn-block ">
                                            Listo
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="./assets/js/fecha.js"></script>


    {{> footer}}