{{!-- Donaciones pagina --}}
{{>header}}
<link rel="stylesheet" href="./assets/css/cupones_style_system.css">
<link rel="stylesheet" href="./assets/css/empresa_listado.css">
<link rel="stylesheet" href="./assets/css/TablesResponsive.css">
<link rel="stylesheet" href="./assets/css/donaciones_style.css">

<body>
    {{>navbar}}

    <h2>DONACIONES</h2>

    <div id="bodcupon">
        {{!-- <div class="col-12 mt-5"> --}}
            <div class="container marketing">
                <!--  -->
                <div class="row">
                    {{#each donacion}}
                    <div class="col-lg-4 mt-5" id="dc">
                        <img id="imagen" src="./assets/img/uber.png" alt="">
                        <h2 class="">Mango</h2>
                        <p>30$ kilo</p>
                        <p>El mango es el nombre de las frutas de varias especies de árboles del género Mangifera</p>

                     
                        <p><a class="btn btn-outline-info " href="#" role="button">Agregar al carrito</a></p>
                    </div>
                    {{/each}}
                    <!--  -->
                    {{!-- <div class="col-lg-4 mt-5" id="dc">
                        <img id="imagen" src="./assets/img/uber.png" alt="">
                        <h2>Piña</h2>
                        <p>32.5$ kilo</p>
                        <p>Ananas comosus, la piña, el ananá, ananás o matzatli, es una planta perenne de la familia
                        </p>
                     
                        <p><a class="btn btn-outline-info " href="./html/tienda_frutas.html"
                                role="button">Agregar al carrito</a></p>
                    </div>

                    <!--  -->
                    <div class="col-lg-4 mt-5" id="dc">
                        <img id="imagen" src="./assets/img/uber.png" alt="">
                        <h2>Uvas</h2>
                        <p>42.5$ kilo</p>
                        <p>La uva es una fruta obtenida de la vid. Las uvas vienen en racimos, son pequeñas</p>
                     
                        <p><a class="btn btn-outline-info " href="#" role="button">Agregar al carrito</a></p>
                    </div> --}}

                </div>
            </div>
        </div>




</body>
{{> footer}}