{{> header}}
<link rel="stylesheet" href="./assets/css/imagen_perfil_empresa.css">

<body>
    <div class="contenedor">
        <div class="menu" id="menu">

            <ul>
                <li> <span id="perfilEmpresa">
                        <a href=""> <img id="imagenPE" src="./assets/uploads/{{empresa.imagen}}" alt=""></a>
                    </span>

                </li>
                <li>
                    <img src="./assets/img/empresas/inicio.png" alt="">
                    <a href="/sistemaHome">Inicio</a>
                </li>
                <li>
                    <img src="./assets/img/empresas/cupones.png" alt="">
                    <a href="/sistemaCupones">Cupones</a>
                </li>
                <li>
                    <img src="./assets/img/empresas/Donaciones.png" alt="">
                    <a href="/sistemaDonaciones">Donaciones</a>
                </li>
                <li>
                    <img src="./assets/img/empresas/logOut.png" alt="">
                    <a href="/logout">Salir</a>
                </li>
            </ul>
        </div>
        <div class="contenido">
            <button type="button" id="sidebarCollapse" class="btn" data-toggle="collapse">
                <span class="navbar-toggler-icon"><i class="fa fa-list" aria-hidden="true"></i></span>
            </button>
            <div class="imagen">
                <img src="https://res.cloudinary.com/wolf-code/image/upload/v1604076226/uca/{{empresa.imagen}}" alt="Agrega tu logo para verlo aqui" class="">
            </div>
            <h1>Bienvenido {{ empresa.nombre_empresa }}</h1>
            <a href="/subirImagen" class="btn btn-outline-warning mt-4">Subir Imagen</a>
        </div>
    </div>



    {{> footer}}