<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/registro.css">
    <link rel="icon" href="./assets/img/1.png" />

</head>

<body>
    <div class="contenedor">
        <div class="formulario">
            <div class="logo">
                <img src="./assets/img/uni2.png" alt="">
            </div>
            <div class="registro">
                <form action="/empresa" method="POST">
                    <div class="form-group">
                        <label for="">Nombre Empresa</label>
                        <input type="text" required class="form-control" name="nombre_empresa">
                    </div>
                    <div class="form-group">
                        <label for="">Giro Empresarial</label>
                        <select required name="giro_empresarial" id="" class="form-control">
                            <option value="">Selecciona el giro de tu empresa</option>
                            <option value="Restaurantes/Servicios de comida">Restaurantes/Servicios de comida</option>
                            <option value="Hoteleria">Hoteleria</option>
                            <option value="Consultoria Empresarial">Consultoria Empresarial</option>
                            <option value="Medicina">Medicina</option>
                            <option value="Industria">Industria</option>
                            <option value="Construccion">Construcción</option>
                            <option value="Servicios">Servicios</option>
                            <option value="Comercio">Comercio</option>
                            <option value="Automoviles">Automoviles</option>
                            <option value="Veterinaria">Veterinaria</option>
                            <option value="Tecnologia">Tecnologia</option>
                            <option value="Otros">Otros</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Nombre Completo</label>
                        <input required type="text" class="form-control" name="nombre_completo">
                    </div>



                    <div class="doble-campo">
                        <div class="form-group w-50 mr-3">
                            <label for="">Telefono:</label>
                            <input required type="text" class="form-control" name="tel">
                        </div>
                        <div class="form-group w-50 ml-3">
                            <label for="">RFC</label>
                            <input type="text" class="form-control" placeholder="*Campo opcional*" name="rfc">
                        </div>
                    </div>

                    <div class="doble-campo">
                        <div class="form-group w-50 mr-3">
                            <label for="">Carrera:</label>
                            <input required type="text" class="form-control" name="carrera">
                        </div>
                        <div class="form-group w-50 ml-3">
                            <label for="">Matricula</label>
                            <input required type="text" class="form-control" name="matricula">
                        </div>
                    </div>

                    <div class="doble-campo">
                        <div class="form-group w-50 mr-3">
                            <label for="">Estado:</label>
                            <input required type="text" value="Aguascalientes" class="form-control" name="estado">
                        </div>
                        <div class="form-group w-50 ml-3">
                            <label for="">Municipio</label>
                            <select required name="municipio" id="" class="form-control">
                                <option value="">Selecciona Municipio</option>
                                <option value="Aguascalientes">Aguascalientes</option>
                                <option value="Asientos"> Asientos</option>
                                <option value="Calvillo"> Calvillo</option>
                                <option value="Cosío"> Cosío</option>
                                <option value="Jesús María"> Jesús María</option>
                                <option value="Pabellón de Arteaga"> Pabellón de Arteaga</option>
                                <option value="Rincón de Romos"> Rincón de Romos</option>
                                <option value="San José de Gracia"> San José de Gracia</option>
                                <option value="Tepezalá"> Tepezalá</option>
                                <option value="El Llano"> El Llano</option>
                                <option value="San Francisco de los Romo">San Francisco de los Romo</option>
                            </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Domicilio</label>
                        <input required type="text" class="form-control" name="calle">
                    </div>
                    <div class="doble-campo">
                        <div class="form-group w-50 mr-3">
                            <label for="">Colonia</label>
                            <input required type="text" class="form-control" name="numero_dir">
                        </div>
                        <div class="form-group w-50 ml-3">
                            <label for="">Codigo Postal</label>
                            <input required type="number" class="form-control" name="cp">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Descripción empresa</label>
                        <textarea name="descripcion_empresa" id="" cols="30" rows="4" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Correo Electronico</label>
                        <input requireds type="email" class="form-control" name="correo">
                    </div>
                    <div class="form-group">
                        <label for="">Contraseña</label>
                        <input required type="password" class="form-control" name="password">
                    </div>
                    <button type="submit" name="" id="" class="btn btn-outline-info btn-block mb-5">Registrar</button>
                </form>
            </div>
        </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM "
        crossorigin="anonymous "></script>
</body>

</html>