@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  /* font-family: "Roboto Condensed", sans-serif; */
}
#botonAgregar{
  margin-top: 5%;
}

#bodyCupones {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}

#tcupon {
  font-size: 20px;
}

#sidebarCollapse {
  z-index: 100;
}

#cuponesTitulo {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#letrasCupones {
  font-size: 33px;
  font-family: "Oswald", sans-serif;
  align-items: center;
  margin-top: -2%;
}

#LA1 {
  display: block;
  width: 300px;
  height: 4px;
  background: #00034e;
  margin-top: 2%;
  margin-left: -17%;
}

#LA2 {
  display: block;
  width: 200px;
  height: 4px;
  background: #039baf;
  margin-top: 4%;
  margin-left: -20%;
}

#CuponesMenu {
  width: 18%;
  display: block;
  float: right;
  margin: 0 !important;
  /* margin-top: 1%; */
}

#CuponesMenu > nav > #navbarNavAltMarkup > div > ul {
  list-style-type: none;
}

#CuponesMenu > nav > #navbarNavAltMarkup > div > ul > p {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.cuponA {
  color: #312f2f;
}

.cuponA > img {
  float: left;
}

.cuponA:hover {
  color: #05cce8;
}

.cupon {
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 15px;
}

#cuponesTitulo {
  margin-top: 10%;
}

/* FORMULARIO REGISTRO CUPONES */

#agregarCuponT {
  color: #00034e;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}

#agregarDonacion {
  color: #00034e;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}

.labelcupon {
  color: #00034e;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

#CF {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnAgregar {
  margin-top: 5%;
}

#tabla-cupon {
  display: flex;
  position: relative;
  top: 10%;
}

td img {
  width: 100px;
  height: 60px;
}

/* div > div > .card > .card-body >  */

/* @media (max-width: 1024px) {
  #bodyCupones {
    width: 100%;
    height: 77%;
  }
  #tabla-cupon {
    display: flex;
    position: relative;
    top: 10%;
  }

  td img {
    width: 100px;
    height: 60px;
  }
} */

/* div > div > .card > .card-body >  */

#CuponesMenu {
  width: 30%;
  margin-top: 12%;
}

.cupon {
  font-size: 19px;
}

#FC_TXT {
  font-size: 40px;
  text-align: center;
}

/* FORMULARIO donaciones */

#FD_TX {
  z-index: 20;
  font-size: 40px;
  text-align: center;
}

@media (max-width: 1024px) {
  #bodyCupones {
    width: 100%;
    height: 77%;
  }
  #letrasCupones {
    font-size: 30px;
    margin-top: 2%;
  }
  #LA1 {
    width: 250px;
    margin-top: 8%;
    margin-left: -22%;
  }
  #LA2 {
    width: 150px;
    margin-top: 11%;
    margin-left: -24%;
  }
  #tcupon {
    font-size: 23px;
  }
  #CuponesMenu {
    width: 30%;
    margin-top: 12%;
  }
  .cupon {
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  #bodyCupones {
    width: 100%;
    height: 75%;
  }
  #letrasCupones {
    font-size: 29px;
    margin-top: 3%;
    margin-left: 32%;
  }
  #LA1 {
    width: 250px;
    margin-top: 12%;
    margin-left: -28%;
  }
  #LA2 {
    width: 150px;
    margin-top: 16%;
    margin-left: -32%;
  }
  #tcupon {
    font-size: 23px;
    margin-left: 6.5%;
  }
  #CuponesMenu {
    width: 100%;
    margin-top: 3%;
  }
  .cupon {
    font-size: 19px;
  }
  #FC_TXT {
    font-size: 37px;
    text-align: center;
  }
  #FD_TX {
    font-size: 37px;
    text-align: center;
  }
  #btnAgregar {
    margin-top: 10%;
  }
  #bodyCupones {
    width: 100%;
    height: 75%;
  }
  #letrasCupones {
    font-size: 29px;
    margin-top: 3%;
    margin-left: 32%;
  }
  #LA1 {
    width: 250px;
    margin-top: 12%;
    margin-left: -28%;
  }
  #LA2 {
    width: 150px;
    margin-top: 16%;
    margin-left: -32%;
  }
  #tcupon {
    font-size: 23px;
    margin-left: 6.5%;
  }
  #CuponesMenu {
    width: 100%;
    margin-top: 3%;
  }
  .cupon {
    font-size: 19px;
  }
}

@media (max-width: 414px) {
  #bodyCupones {
    width: 100%;
    height: 100%;
  }

  #botonAgregar {
    background: white;
    color: #00a3bd;
    margin-top: 32%;
    margin-left: -8%;
  }

  #letrasCupones {
    font-size: 27px;
    margin-top: 18%;
    margin-left: 30%;
  }
  #LA1 {
    width: 200px;
    margin-top: 30%;
    margin-left: -45%;
  }
  #LA2 {
    width: 100px;
    margin-top: 36%;
    margin-left: -45%;
  }
  #tcupon {
    font-size: 23px;
    margin-left: 6.5%;
  }
  #CuponesMenu {
    width: 100%;
    margin-top: 5%;
  }
  .cupon {
    font-size: 18px;
  }
  #FC_TXT {
    font-size: 35px;
    text-align: center;
    line-height: 20%;
    margin-left: 10%;
  }
  #FD_TX {
    font-size: 35px;
    text-align: center;
    line-height: 20%;
    margin-left: 10%;
  }
  #btnAgregar {
    margin-top: 40%;
    margin-left: -9%;
    background: white;
    color: #00a3bd;
  }
  #bodyCupones {
    width: 100%;
    height: 100%;
  }
  #letrasCupones {
    font-size: 27px;
    margin-top: 18%;
    margin-left: 30%;
  }
  #LA1 {
    width: 200px;
    margin-top: 30%;
    margin-left: -45%;
  }
  #LA2 {
    width: 100px;
    margin-top: 36%;
    margin-left: -45%;
  }
  #tcupon {
    font-size: 23px;
    margin-left: 6.5%;
  }
  #CuponesMenu {
    width: 100%;
    margin-top: 5%;
  }
  .cupon {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  #botonAgregar{
    margin-top: 37%;
  }
  #letrasCupones {
    font-size: 25px;
    margin-top: 23%;
    margin-left: 30%;
  }
  #LA1 {
    width: 170px;
    margin-top: 35%;
    margin-left: -42%;
  }
  #LA2 {
    width: 100px;
    margin-top: 42%;
    margin-left: -44%;
  }
  #tcupon {
    font-size: 21px;
    margin-left: 6.5%;
  }
  #FC_TXT {
    font-size: 32px;
    margin-left: 15%;
    line-height: -20%;
  }
  #FD_TX {
    font-size: 30px;
    margin-left: 15%;
    line-height: -20%;
    margin-bottom: 3%;
  }
  #btnAgregar {
    margin-top: 48%;
    margin-left: -10.5%;
  }
  #letrasCupones {
    font-size: 25px;
    margin-top: 23%;
    margin-left: 30%;
  }
  #LA1 {
    width: 170px;
    margin-top: 35%;
    margin-left: -42%;
  }
  #LA2 {
    width: 100px;
    margin-top: 42%;
    margin-left: -44%;
  }
  #tcupon {
    font-size: 21px;
    margin-left: 6.5%;
  }
}

@media (max-width: 360px) {

  #botonAgregar{
    margin-top: 39%;
  }

  #tit-image {
    display: none;
  }
  #tcupon {
    font-size: 20px;
    margin-left: 15%;
  }
  #bodyCupones {
    width: 100%;
    height: 110%;
  }
  #letrasCupones {
    font-size: 25px;
    margin-top: 20%;
    margin-left: 30%;
  }
  #LA1 {
    width: 180px;
    margin-top: 33%;
    margin-left: -45%;
  }
  #LA2 {
    width: 100px;
    margin-top: 39%;
    margin-left: -48%;
  }
  #tcupon {
    font-size: 21px;
    margin-left: 6.5%;
  }
  #CuponesMenu {
    width: 100%;
    margin-top: 4%;
  }
  #agregarDonacion {
    font-size: 24px;
  }
}

@media (max-width: 320px) {

  #botonAgregar{
    margin-top: 45%;
    margin-left: -11%;
  }
  

  #FC_TXT {
    font-size: 30px;
  }
  #FD_TX {
    font-size: 27px;
  }
  #agregarCuponT {
    font-size: 25px;
  }
  #agregarDonacion {
    font-size: 22px;
  }
  #CuponesMenu {
    width: 100%;
    margin-top: 30%;
  }
  #bodyCupones {
    width: 100%;
    height: 115%;
  }
  #letrasCupones {
    font-size: 25px;
    margin-top: 20%;
    margin-left: 35%;
  }
  #LA1 {
    width: 180px;
    margin-top: 36%;
    margin-left: -51%;
  }
  #LA2 {
    width: 100px;
    margin-top: 43%;
    margin-left: -53%;
  }
  #CuponesMenu {
    width: 100%;
    margin-top: 2%;
  }
  #tcupon {
    font-size: 21px;
    margin-left: 6.5%;
  }
  #btnAgregar {
    margin-top: 60%;
    margin-left: -13%;
  }
  #CuponesMenu {
    width: 100%;
    margin-top: 30%;
  }
  #bodyCupones {
    width: 100%;
    height: 115%;
  }
  #letrasCupones {
    font-size: 25px;
    margin-top: 20%;
    margin-left: 35%;
  }
  #LA1 {
    width: 180px;
    margin-top: 36%;
    margin-left: -51%;
  }
  #LA2 {
    width: 100px;
    margin-top: 43%;
    margin-left: -53%;
  }
  #CuponesMenu {
    width: 100%;
    margin-top: 2%;
  }
  #tcupon {
    font-size: 21px;
    margin-left: 6.5%;
  }
}
