@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* TITULO INICIO */
#cuponesTitulo {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9%;
  margin-bottom: -7%;
}

#letrasCupones {
  font-size: 33px;
  font-family: "Oswald", sans-serif;
  align-items: center;
  margin-top: -2%;
}

#cuponesDTXT {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

#LA1 {
  display: block;
  width: 300px;
  height: 4px;
  background: #00034e;
  margin-top: 2%;
  margin-left: -17%;
}
#LA2 {
  display: block;
  width: 200px;
  height: 4px;
  background: #039baf;
  margin-top: 4%;
  margin-left: -20%;
}

/* TITULO FIN */

#cupons {
  width: 82%;
  margin-top: 10%;
}

td img {
  width: 100px;
  height: 60px;
}

#CuponesMenu {
  width: 18%;
  float: right;
  margin-top: 10%;
}
#CuponesMenu > nav > #navbarNavAltMarkup > div > ul {
  list-style-type: none;
}

#CuponesMenu > nav > #navbarNavAltMarkup > div > ul > p {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.cuponA {
  color: #312f2f;
}

.cuponA:hover {
  color: #05cce8;
}

.cupon {
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 15px;
}

/* FORMULARIO REGISTRO CUPONES */

#agregarCuponT {
  color: #00034e;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}
#agregarDonacion {
  color: #00034e;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}

.labelcupon {
  color: #00034e;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

/* MODAL */

#contenedorImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
#imgModal {
  width: 200px;
  height: 200px;
  text-align: center;
}

#miModal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 80vh; */
}
#tituloCupon {
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 1%;
}

.TxtMInf {
  font-size: 17px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 3%;
}

#text {
  color: black;
}
#text:hover {
  color: #00a3bd;
}

/* div > div > .card > .card-body >  */
@media (max-width: 1024px) {
  #bodcupon {
    width: 100%;
    height: 77%;
    /* overflow-y: hidden; */
  }

  #cupons {
    width: 74%;
    margin-top: 25%;
  }

  #CuponesMenu {
    width: 26%;
    margin-top: 25%;
  }
  .cupon {
    font-size: 19px;
  }

  /* titulo cupones */
  #cuponesTitulo {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: -18%;
  }

  #letrasCupones {
    font-size: 42px;
    margin-top: 0%;
    margin-left: 30%;
  }

  #LA1 {
    width: 280px;
    margin-top: 8%;
    margin-left: -26%;
  }
  #LA2 {
    width: 150px;
    margin-top: 11%;
    margin-left: -26%;
  }
}

@media (max-width: 768px) {
  .cupon {
    font-size: 19px;
  }
  /* cupns */
  #bodcupon {
    width: 100%;
    height: 115vh;
    /* overflow-y: hidden; */
  }

  #cupons {
    width: 100%;
    margin-top: 30%;
  }

  #CuponesMenu {
    width: 100%;
    margin-top: 19%;
  }
  /* titulo cupones */
  #cuponesTitulo {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: -18%;
  }

  #letrasCupones {
    font-size: 36px;
    margin-top: 5%;
    margin-left: 30%;
  }

  #LA1 {
    width: 200px;
    margin-top: 12%;
    margin-left: -26%;
  }
  #LA2 {
    width: 130px;
    margin-top: 15%;
    margin-left: -26%;
  }
}

@media (max-width: 414px) {
  .cupon {
    font-size: 18px;
  }
  /* cupns */
  #bodcupon {
    width: 100%;
    height: 125vh;
    /* overflow-y: hidden; */
  }

  #cupons {
    width: 100%;
    margin-top: 30%;
  }

  #CuponesMenu {
    width: 100%;
    margin-top: 19%;
  }
  /* titulo cupones */
  #cuponesTitulo {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12%;
    margin-bottom: -18%;
  }

  #letrasCupones {
    font-size: 30px;
    margin-top: 18%;
    margin-left: 30%;
  }

  #LA1 {
    width: 200px;
    margin-top: 30%;
    margin-left: -45%;
  }
  #LA2 {
    width: 100px;
    margin-top: 36%;
    margin-left: -45%;
  }
}

@media (max-width: 375px) {
  #bodcupon {
    width: 100%;
    height: 135vh;
    /* overflow-y: hidden; */
  }
  #letrasCupones {
    font-size: 25px;
    margin-top: 23%;
    margin-left: 30%;
  }

  #LA1 {
    width: 170px;
    margin-top: 35%;
    margin-left: -42%;
  }
  #LA2 {
    width: 100px;
    margin-top: 42%;
    margin-left: -44%;
  }

  #tcupon {
    font-size: 21px;
    margin-left: 6.5%;
  }
}

@media (max-width: 360px) {
  #CuponesMenu {
    width: 100%;
  }

  #letrasCupones {
    font-size: 25px;
    margin-top: 20%;
    margin-left: 30%;
  }

  #LA1 {
    width: 180px;
    margin-top: 33%;
    margin-left: -45%;
  }
  #LA2 {
    width: 100px;
    margin-top: 39%;
    margin-left: -48%;
  }

  #bodcupon {
    width: 100%;
    height: 145vh;
    /* overflow-y: hidden; */
  }
}

@media (max-width: 320px) {
  #cuponesTitulo {
    margin-bottom: 10%;
  }
  #CuponesMenu {
    width: 100%;
  }

  #bodcupon {
    width: 100%;
    height: 180vh;
    /* overflow-y: hidden; */
  }

  #letrasCupones {
    font-size: 25px;
    margin-top: 20%;
    margin-left: 35%;
  }

  #LA1 {
    width: 180px;
    margin-top: 36%;
    margin-left: -51%;
  }
  #LA2 {
    width: 100px;
    margin-top: 43%;
    margin-left: -53%;
  }
  #CuponesMenu {
    width: 100%;
    margin-top: 2%;
  }
  #tcupon {
    font-size: 21px;
    margin-left: 6.5%;
  }
}
