#T {
  font-weight: bolder;
}
* {
  word-wrap: break-word;
}

@media (max-width: 414px) {
  table {
    width: 1000px;
  }

  #D {
    display: flex;
    width: 250px !important;
  }

  #T {
    display: block;
    width: 250px !important;
  }

  #boton {
    display: flex;
  }
}

@media (max-width: 375px) {
  #T {
    display: block;
    width: 220px !important;
  }
  #D {
    display: flex;
    width: 220px !important;
  }
}

@media (max-width: 360px) {
  #T {
    display: block;
    width: 205px !important;
  }
  #D {
    display: flex;
    width: 205px !important;
  }
}

@media (max-width: 320px) {
  #D {
    display: flex;
    width: 166px !important;
  }

  #T {
    display: block;
    width: 166px !important;
  }
}
